@import "src/theme/theme-variables";

.navbar {
  margin-bottom: $spacer;
  .navbar-brand {
    padding: 0px;
    margin: -12px 0px;
    .logo {
      height: 60px;
    }
  }
}

.nav-link.dropdown-toggle {
  cursor: pointer;
}
